.news-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.splide {
  overflow: visible;
}

.splide__arrow {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 3em;
  height: 1.5em !important;
  width: 1.5em !important;
}

.splide__arrow--prev {
  left: 0 !important;
}

.splide__arrow--next {
  right: 0 !important;
}

.splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.splide a {
  color: inherit;
  background-color: #fff;
  border: #0c1a29 solid 3px;
  font-family:
    Myriad Pro,
    sans-serif;
  padding: 8px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .splide__arrow {
    font-size: 2.5em;
  }
}

@media (max-width: 425px) {
  .splide__arrow {
    font-size: 2em;
  }
}
