<section id="about">
  <div>
    <span id="subtitle">Хто ми?</span>
    <h2>Про нас</h2>
  </div>
  <div>
    <p>Благодійний фонд «Добро Є» створений з великої мрії маленької дівчинки – Олівії.</p>
    <p>Мрії про те, щоб допомагати дітям, які постраждали від війни.</p>
    <p>Бо в нашій країні сьогодні немає жодної дитини, яку ця війна не торкнулася.</p>
    <br />
    <p>Хтось втратив дім, хтось – спокій, хтось – дитинство без тривоги.</p>
    <p>
      Ми віримо, що навіть найменші прояви турботи можуть зігріти дитячі серця й повернути віру у
      світло.
    </p>
    <br />
    <p>
      Фонд «Добро Є» підтримує дітей, які пережили війну – емоційно, психологічно, творчо й
      матеріально.
    </p>
    <p>
      Ми організовуємо благодійні заходи, концерти, творчі події та допомагаємо тим, хто цього
      потребує найбільше.
    </p>
    <br />
    <button (click)="toggleMore()">
      {{ isExpanded ? 'Згорнути' : 'Дізнатись більше' }}
    </button>
  </div>
</section>

@if (isExpanded) {
  <section id="about-more" [@fadeInOut] class="expanded-content">
    <div class="more-content-wrapper">
      <h3>Інтерв’ю: Юлія, Олівія та Емілія про ідею створення фонду</h3>

      <div class="more-grid">
        <p>— Як виникла ідея створити фонд?</p>
        <p>Юлія: Ідея народилась не в мене – її принесла моя донечка Олівія.</p>
        <p>
          Вона з малечку бере участь у благодійних концертах, співає для дітей, підтримує інші
          ініціативи.
        </p>
        <p>
          Одного дня вона сказала: «Мамо, я хочу, щоб у нас був свій фонд. Щоб допомагати дітям, які
          страждають через війну».
        </p>
        <p>І ми вирішили, що це має стати реальністю.</p>
      </div>
      <div class="more-grid">
        <p>— Чому саме діти?</p>
        <p>👉Олівія: Я знаю, як це – боятися вибухів. Як це – жити без світла, тепла і дома.</p>
        <p>
          Я пам’ятаю, як ми виїжджали з Миколаєва, коли було дуже страшно. Як я жила в іншій країні
          і мріяла повернутися додому.
        </p>
        <p>Я знаю, як боляче, коли поруч війна. Я хочу, щоб інші діти відчули, що вони не одні.</p>
      </div>
      <div class="more-grid">
        <p>— Яку мету ставить перед собою фонд?</p>
        <p>
          Емілія: Ми хочемо, щоб діти не втрачали віру. Щоб у них було дитинство – з теплом,
          святами, подарунками, творчістю.
        </p>
        <p>Ми мріємо зробити їх життя хоч трішки світлішим.</p>
      </div>
      <div class="more-grid">
        <p>— Що саме ви плануєте робити?</p>
        <p>
          Юлія: Це будуть концерти, творчі зустрічі, благодійні акції, подарунки, участь у різних
          програмах підтримки дітей.
        </p>
        <p>Ми хочемо створювати моменти, які повертають радість і дитинство.</p>
      </div>
    </div>
  </section>
}
