<footer>
  <div class="contacts">
    <h3>Контактні дані:</h3>
    <p>
      <a href="tel:+380677686406">+380 (67) 768-64-06</a>
    </p>
    <p>
      <a href="mailto:fund.goodis@outlook.com">fund.goodis&#64;outlook.com</a>
    </p>
  </div>

  <div class="socials">
    <h3>Ми в соц. мережах:</h3>
    <div class="social-icons">
      <p>
        <a href="#" target="_blank">Instagram</a>
      </p>
      <p>
        <a href="#" target="_blank">Facebook</a>
      </p>
    </div>
  </div>
</footer>
