<footer id="contacts">
  <div class="contacts">
    <h3>Контактні дані:</h3>
    <p>
      <a href="tel:+380677686406"> +380 (67) 768-64-06 </a>
    </p>
    <p>
      <a href="mailto:fund.goodis@outlook.com"> fund.goodis&#64;outlook.com </a>
    </p>
  </div>

  <div class="socials">
    <h3>Ми в соц. мережах:</h3>
    <ul class="social-links">
      @for (link of socialLinks; track link.name) {
        <li>
          <a [href]="link.url" target="_blank" [attr.aria-label]="link.name">
            <div class="icon-container">
              <img [ngSrc]="link.icon" [alt]="link.name" fill />
            </div>
          </a>
        </li>
      }
    </ul>
  </div>
</footer>
