<div class="modal" [class.active]="newsService.selectedNews()" (click)="newsService.closeModal()">
  <div
    class="modal-content"
    [hidden]="!newsService.selectedNews()"
    (click)="$event.stopPropagation()"
  >
    <button class="close-btn" (click)="newsService.closeModal()">←</button>

    @if (newsService.selectedNews(); as data) {
      <div class="modal-grid" [class.single-item]="!data.video">
        <img [src]="data.image" alt="Фото" />

        @if (data.video) {
          <video [src]="data.video" controls></video>
        }
      </div>

      <h2>{{ data.title }}</h2>
      @for (paragraph of data.paragraphs; track $index) {
        <p [innerHTML]="paragraph"></p>
      }
      @if (data.actionUrl) {
        <br />
        <a [href]="data.actionUrl" target="_blank" class="button">
          {{ data.actionLabel || 'Долучитися' }}
        </a>
      }
    }
  </div>
</div>
